@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<script src="~/plugins/jQuery/jQuery-2.1.4.min.js"></script>

 <script src="~/js/Masters/Menu.js"></script>
<script src="~/js/Masters/UserDashBoard.js"></script>
    <script>        
          var api_url = '@ViewBag.api_url'
        $(document).ready(function () {          
            ObjMenu.GetPostreplayCount(api_url);
            ObjUsertDashBoard.init();
           
        });
    </script>


<h2>My Dashboard</h2>

  <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
         
          <small></small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-home"></i>My Home</a></li>
          </ol>
      </section>

      <!-- Main content -->
      <section class="content">
         
        
        <div class="callout callout-info">
          <h4>Tip!</h4>

          <p>Welcome to theGadgeon Smart Systems.</p>
           
        </div>
          @*<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-folder-open"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">MY Profile</span>
              <span class="info-box-number"id="OpenTkts" ></span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                   
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>

          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
               <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-eye-slash"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">UN SEEN</span>
              <span class="info-box-number" id="Unseen" ></span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                   
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
       
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">

               <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">RESOLVED</span>
              <span class="info-box-number"id="ResolvedTickets"></span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                   
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>

          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">

            <div class="info-box bg-gray">
            <span class="info-box-icon"><i class="fa fa-hand-peace-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">CLOSED</span>
              <span class="info-box-number" id="ClosedTickets" ></span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                   
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>


          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>*@
        
        <div class="box box-default" >
          <div class="box-header with-border">
            <h3 class="box-title">Directions </h3>
          </div>
          <div class="box-body">
            1.Please Update the Resumes and Profile details
              <br />
           
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
     <!-- /.content -->